.col-12
    .row.justify-content-center
        .col-8
            
            %h2
                Resultado
            
            - if @profiles.empty? || @profiles.blank?
                .row.justify-content-center.my-3
                    .col-12
                        = fa_icon "times", class: "fa-5x"
                
                    .col-12
                        %h6.text-center No pudimos conseguir ningún perfil.
                        
            - else
                .card 
                    %table.table
                    
                        %tbody
                            - @users.each do |user|
                                - if user.role.name != 'ADMINISTRADOR' 
                                    %tr
                                        %td= user.name
                                        %td= user.lastname
                                - else