.row.justify-content-center
  #NeW-Skill.col-4
    .card.p-4
      %h3.text-center.mb-4 Nueva Habilidad
      = render 'form'
      = link_to 'Volver', skills_path  #### Agregar cuando se tenga el index