.col
  .row.justify-content-center
    #Edit-Rol.col-4
      .card.p-4.profile-border-shadow
        %h3.text-center.mb-4 Editar Rol
        = render 'form', role: @role
        = link_to 'Regresar', roles_path 

