 @import "bootstrap";
 @import "singin_devise";
 @import "font-awesome";

.container-fluid{
  min-height: 100vh;
  height: auto;
}

.bg-light.ml-4.p-1{
  border-bottom-right-radius: 140px;
  border-top-left-radius: 140px;
  border-top-right-radius: 140px;
  border-bottom-left-radius: 140px;
}


.profile-border-shadow{
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50,50,50,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(50,50,50,1);
  box-shadow: 0px 0px 3px 0px rgba(50,50,50,1);
}