 @import "bootstrap";
 @import "singin_devise";
 @import "font-awesome";
 @import "trix";

p{
  margin-bottom: 0px;
}

@font-face{
  font-family: "Prueba";
  src: url(/assets/HelveticaNeue.otf) format("truetype");
}

.bold{
  font-weight: bold;
}
.title-font{
  font-family: Arial, Helvetica, sans-serif;
  color: #877457;
  font-size: 25px;
  font-weight: bold;
}

.text-1st-font{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
}

.text-2nd-font{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}

.text-3rd-font{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.text-4th-font{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.container-fluid{
  min-height: 100vh;
  height: auto;
}

.bg-light.ml-4.p-1{
  border-bottom-right-radius: 140px;
  border-top-left-radius: 140px;
  border-top-right-radius: 140px;
  border-bottom-left-radius: 140px;
}

.rounded-skill{
  border-bottom-right-radius: 140px;
  border-top-left-radius: 140px;
  border-top-right-radius: 140px;
  border-bottom-left-radius: 140px;
}

.profile-border-shadow{
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50,50,50,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(50,50,50,1);
  box-shadow: 0px 0px 3px 0px rgba(50,50,50,1);
}

.line-border-shadow{
  -webkit-box-shadow:0px 1px 1px rgb(182, 181, 181);
  -moz-box-shadow:0px 1px 1px rgb(182, 181, 181);
  box-shadow:0px 1px 1px rgb(182, 181, 181);
}

.image-profile{
  max-width: 160px;
  max-height: 160px;
  min-width: 160px;
  min-height: 160px;
  // width: 250px;
  // height: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.image-profile-search{
  max-width: 130px;
  max-height: 130px;
  min-width: 130px;
  min-height: 130px;
  // width: 250px;
  // height: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.profile-background{
  width: 100%;
  height: 200px;
  // opacity: 0.7;
  filter: grayscale(100%);
}

.negative-margin{
  margin-top: -80px;
}

.fa-7em{
  font-size: 7em;
}

.buttons-border{
  border-radius: 40px;
}

.cancel-button{
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #30A64A;
  color: #30A64A;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.cancel-button:hover{
  color: #30A64A;
  text-decoration: none;
}