 @import "bootstrap";
 @import "singin_devise";



 a.card-header.ml-3.pt-2{
    border-bottom-right-radius: 76%;
    border-top-left-radius: 78%;
    border-top-right-radius: 87%;
    border-bottom-left-radius: 43%;
}
 