 @import "bootstrap";
 @import "singin_devise";
 @import "font-awesome";

.container-fluid{
  min-height: 100vh;
  height: auto;
}

.bg-light.ml-4.p-1{
  border-bottom-right-radius: 140px;
  border-top-left-radius: 140px;
  border-top-right-radius: 140px;
  border-bottom-left-radius: 140px;
}