 @import "bootstrap";
 @import "singin_devise";
 @import "font-awesome";
 @import "trix";

.container-fluid{
  min-height: 100vh;
  height: auto;
}

.bg-light.ml-4.p-1{
  border-bottom-right-radius: 140px;
  border-top-left-radius: 140px;
  border-top-right-radius: 140px;
  border-bottom-left-radius: 140px;
}

.rounded-skill{
  border-bottom-right-radius: 140px;
  border-top-left-radius: 140px;
  border-top-right-radius: 140px;
  border-bottom-left-radius: 140px;
}

.profile-border-shadow{
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50,50,50,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(50,50,50,1);
  box-shadow: 0px 0px 3px 0px rgba(50,50,50,1);
}

.line-border-shadow{
  -webkit-box-shadow:0px 1px 1px rgb(182, 181, 181);
  -moz-box-shadow:0px 1px 1px rgb(182, 181, 181);
  box-shadow:0px 1px 1px rgb(182, 181, 181);
}

.image-profile{
  max-width: 160px;
  max-height: 160px;
  min-width: 160px;
  min-height: 160px;
  // width: 250px;
  // height: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.profile-background{
  width: 100%;
  height: 200px;
}

.negative-margin{
  margin-top: -80px;
}

.fa-7em{
  font-size: 7em;
}